:root {
    --color-primary: #eb5635;

    --color-text-title: #222222;
    --color-text: #5a5a5a;
    --color-text-light: #8e8e8e;

    --color-text-link: #59adeb;
    --color-border: #f2f2f2;
    --color-icon: #eeeeee;

    --color-white: #ffffff;
}